<div style="width: 98vw; height: 98vh; background: black; position: relative">
  <div class="WFD" (click)="link('WFD')">WFD:L30 W36</div>
  <div class="RS" (click)="link('RS')">RS:S30 L30</div>
  <div class="RL" (click)="link('RL')">RL:S5 L5</div>
  <div class="ASQ" (click)="link('ASQ')">ASQ:S5 L2</div>
  <div class="DI" (click)="link('DI')">DI:S20</div>
  <div class="SST" (click)="link('SST')">SST:L1O W12</div>
  <div class="FIB-L" (click)="link('FIB-L')">FIB-L:L9 W12</div>
  <div class="HIW" (click)="link('HIW')">HIW:L8 R8</div>
  <div class="RA" (click)="link('RA')">RA:S40 R30</div>
  <div class="WE" (click)="link('WE')">WE:W13</div>
  <div class="SWT" (click)="link('SWT')">SWT:W13 R13</div>
  <div class="FIB-RW" (click)="link('FIB-RW')">FIB-RW:R20 W14</div>
  <div class="FIB" (click)="link('FIB')">FIB:R17</div>
  <!-- <div class="RO" (click)="link('RO')">RO:R7</div> -->
</div>
