.WFD{
    width: 20%;
    height: 100%;
    background: red;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
}
.RS{
    width: 80%;
    height: 20%;
    background: yellow;
    color: black;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20%;
    top: 0;
}
.RA{
    width: 40%;
    height: 60%;
    background: yellow;
    color: black;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 20%;
}
.RL{
    width: 20%;
    height: 5%;
    background: yellow;
    color: black;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 40%;
    top: 20%;
}
.ASQ{
    width: 14%;
    height: 5%;
    background: yellow;
    color: black;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 40%;
    top: 25%;
}
.DI{
    width: 10%;
    height: 20%;
    background: yellow;
    color: black;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 40%;
    top: 30%;
}
.SST{
    width: 12%;
    height: 36%;
    background: red;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20%;
    top: 20%;
}
.FIB-L{
    width: 8%;
    height: 36%;
    background: red;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 32%;
    top: 20%;
}
.HIW{
    width: 10%;
    height: 20%;
    background: red;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40%;
    top: 30%;
}
.WE{
    width: 20%;
    height: 27%;
    background: rgba(65, 249, 24, 0.973);
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20%;
    bottom: 17%;
}
.SWT{
    width: 20%;
    height: 33%;
    background: rgba(65, 249, 24, 0.973);
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40%;
    bottom: 17%;
}
.FIB-RW{
    width: 60%;
    height: 20%;
    background: #66ccff;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20%;
    bottom: 0;
}
.FIB{
    width: 17%;
    height: 20%;
    background: #66ccff;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 7%;
    bottom: 0;
}
.RO{
    width: 7%;
    height: 7%;
    background: #66ccff;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 13%;
    cursor: pointer;
}