<div
  class="title"
  style="flex: 1; align-items: center; justify-content: center"
>
  您的段位为：青铜六段
</div>
<div style="width: 100%">
  <button class="button" (click)="kword(1)">青铜六段</button>
  <button class="button" (click)="kword(2)">青铜五段</button>
  <button class="button" (click)="kword(3)">青铜四段</button>
  <button class="button" (click)="kword(4)">青铜三段</button>
  <button class="button">青铜二段</button>
  <button class="button">青铜一段</button>
  <button class="button">白银五段</button>
  <button class="button">白银四段</button>
  <button class="button">白银三段</button>
  <button class="button">白银二段</button>
  <button class="button">白银一段</button>
  <button class="button">黄金四段</button>
  <button class="button">黄金三段</button>
  <button class="button">黄金二段</button>
  <button class="button">黄金一段</button>
  <button class="button">白金三段</button>
  <button class="button">白金二段</button>
  <button class="button">白金一段</button>
  <button class="button">钻石二段</button>
  <button class="button">钻石一段</button>
  <button class="button">大师</button>
  <button class="button">宗师</button>
</div>
