<div style="position: absolute; right: 1em; color: red; font-size: 32px">
  {{ score }}
</div>
<div style="width: 100%; margin-bottom: 3em">
  <div class="title">{{ title }}</div>
  <div class="title">
    {{ titleDescription }}
  </div>
</div>
<div style="margin-bottom: 40px">
  {{ english }}
</div>
<div style="margin-bottom: 60px">
  {{ china }}
</div>
<div style="display: flex; align-items: center; justify-content: center">
  <div *ngFor="let item of Array; let i = index" style="flex: 1">
    <span class="input input--haruki">
      <input
        class="input__field input__field--haruki"
        type="text"
        id="input-1"
        [(ngModel)]="tempAnswer[i]"
        (keyup.enter)="submit()"
      />
    </span>
    <div *ngIf="failFlag" style="font-size: 20px; color: red">
      {{ item }}
    </div>
  </div>
</div>
